@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  /*hamburger menu starter her*/
  /*fjerner navigations*/
  /* Overskrifterne med baggrundsfarve */
  /* Div for billederne */
  /* Selve footeren */
}
body header {
  clear: both;
  width: 100%;
  height: 100px;
  background-color: #e6e6e6;
  text-decoration: none;
  display: block;
}
body header div {
  /*menuen slutter her*/
}
body header div a {
  margin-top: 400px;
}
body header div a img {
  margin: 3%;
  margin-bottom: 0;
  float: left;
  width: 10%;
  text-decoration: none;
}
body header div .tekst {
  text-decoration: none;
  color: #293952;
  margin-left: 20%;
  margin-top: 20%;
  font-family: 'Quattrocento Sans', sans-serif solid;
}
body header div form {
  width: 50%;
  height: 40px;
  margin-top: 6%;
}
body header div form div {
  border: none;
  background-color: white;
  margin: 0% 20%;
  height: 25px;
  position: absolute;
  width: 60%;
  text-align: center;
}
body header div form div input {
  width: 82%;
  height: 20px;
  border: none;
  font-size: 16px;
}
body header div form div button {
  height: 100%;
  width: 8%;
  right: 0;
  margin: 0;
  padding: 0;
  background: #87aa44;
  border: none;
  cursor: pointer;
  float: right;
}
body header div form div button .submit {
  width: 50%;
}
body header div .navi {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  /*hvordan ser indholdet ud i hamburgermenuen*/
  /*position af x/lukke knappen i menuen*/
}
body header div .navi .overlayer {
  position: relative;
  top: 5%;
  text-align: left;
  font-size: 10%;
  margin-top: 30px;
  text-decoration: none;
  /*hvordan linkene ser ud i overlay*/
  /*giver farve nÃ¥r der holdes over indholdet*/
}
body header div .navi .overlayer a {
  padding: 6px;
  left: 5%;
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body header div .navi .overlayer .linje {
  border-top: 2px white solid;
  width: 100%;
  padding: 0;
  left: 0;
  margin: 2% 0;
}
body header div .navi .overlayer :hover :focus {
  color: #f1f1f1;
}
body header div .navi .closebut {
  position: absolute;
  right: 5%;
  padding: 0;
  font-size: 60px;
  text-decoration: none;
  color: #87aa44;
}
body header div span {
  display: block;
  font-size: 140%;
  color: #293952;
  cursor: pointer;
  float: right;
  margin: -18% 3% 0 0;
}
body nav {
  display: none;
}
body button {
  display: none;
}
body h1 {
  clear: both;
  background-color: #293952;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 18px;
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 6%;
}
body .flexbox, body .flexbox2 {
  width: 100%;
  /* Selve billederne */
  /* Skriften over billederne */
  /* Styring af de forskellige tekster til de forskellige billeder */
}
body .flexbox .p, body .flexbox2 .p {
  width: 40%;
  padding: 5% 3% 4% 5%;
  position: relative;
  z-index: -2;
}
body .flexbox h2, body .flexbox2 h2 {
  background-color: rgba(255, 255, 255, 0.7);
  width: 25%;
  height: 7%;
  padding-top: 5%;
  padding-left: 5%;
  font-size: 13px;
  font-family: 'Quattrocento Sans', sans-serif;
  position: absolute;
  display: block;
}
body .flexbox .text1, body .flexbox .text3, body .flexbox .text5, body .flexbox .text7, body .flexbox .text9, body .flexbox .text11, body .flexbox .text13, body .flexbox .text15, body .flexbox2 .text1, body .flexbox2 .text3, body .flexbox2 .text5, body .flexbox2 .text7, body .flexbox2 .text9, body .flexbox2 .text11, body .flexbox2 .text13, body .flexbox2 .text15 {
  margin-left: 5%;
}
body .flexbox .text2, body .flexbox .text4, body .flexbox .text6, body .flexbox .text8, body .flexbox .text10, body .flexbox .text12, body .flexbox .text14, body .flexbox .text16, body .flexbox2 .text2, body .flexbox2 .text4, body .flexbox2 .text6, body .flexbox2 .text8, body .flexbox2 .text10, body .flexbox2 .text12, body .flexbox2 .text14, body .flexbox2 .text16 {
  margin-left: 54%;
}
body .flexbox .text1, body .flexbox .text2, body .flexbox2 .text1, body .flexbox2 .text2 {
  margin-top: -235%;
}
body .flexbox .text3, body .flexbox .text4, body .flexbox2 .text3, body .flexbox2 .text4 {
  margin-top: -184%;
}
body .flexbox .text5, body .flexbox .text6, body .flexbox2 .text5, body .flexbox2 .text6 {
  margin-top: -133%;
}
body .flexbox .text7, body .flexbox .text8, body .flexbox2 .text7, body .flexbox2 .text8 {
  margin-top: -84%;
}
body .flexbox .text9, body .flexbox .text10, body .flexbox2 .text9, body .flexbox2 .text10 {
  margin-top: -33%;
}
body .flexbox .text11, body .flexbox .text12, body .flexbox2 .text11, body .flexbox2 .text12 {
  margin-top: -133%;
}
body .flexbox .text13, body .flexbox .text14, body .flexbox2 .text13, body .flexbox2 .text14 {
  margin-top: -85%;
}
body .flexbox .text15, body .flexbox .text16, body .flexbox2 .text15, body .flexbox2 .text16 {
  margin-top: -33%;
}
body footer {
  width: 100%;
  height: 200px;
  background-color: #293952;
  position: absolute;
  /* Teksten i footeren */
  /*De to logoer */
}
body footer .footertext {
  margin-top: 16%;
}
body footer ul {
  text-decoration: none;
  font-family: 'Quattrocento Sans', sans-serif;
  color: white;
  line-height: 3px;
  font-weight: bold;
}
body footer .social {
  float: right;
  margin-right: 10%;
  margin-top: -20%;
}
body footer .social .fa-facebook {
  font-size: 35px;
  background: #3C5A99;
  color: white;
  padding: 5px 6px 1px 17px;
  border-radius: 5px;
}
body footer .social .fa-linkedin {
  font-size: 35px;
  background: #007BB6;
  color: white;
  padding: 5px 6px 1px 7px;
  border-radius: 5px;
  margin-left: 3px;
}

@media screen and (min-width: 766px) {
  /* Ipad-version */
  body h1 {
    font-size: 28px;
  }
  body .flexbox, body .flexbox2 {
    /* Skriften over billederne */
  }
  body .flexbox h2, body .flexbox2 h2 {
    font-size: 24px;
    width: 25%;
    height: 8.5%;
    padding-top: 5%;
    padding-left: 5%;
  }
  body .flexbox .text2, body .flexbox .text4, body .flexbox .text6, body .flexbox .text8, body .flexbox .text10, body .flexbox .text12, body .flexbox .text14, body .flexbox .text16, body .flexbox2 .text2, body .flexbox2 .text4, body .flexbox2 .text6, body .flexbox2 .text8, body .flexbox2 .text10, body .flexbox2 .text12, body .flexbox2 .text14, body .flexbox2 .text16 {
    margin-left: 53%;
  }
  body footer .footertext {
    margin-top: 8%;
  }
  body footer .social {
    margin-top: -10%;
  }
}
@media screen and (min-width: 992px) {
  /* Desktop-version */
  body h1 {
    background-color: #ECEEF2;
  }
  body .flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .flexbox .p {
    width: 20%;
    height: 20%;
  }
  body .knap {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    left: 25%;
    bottom: -25px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;
  }
  body .knap i {
    height: 25px;
    width: 50px;
    padding-left: 35%;
    padding-top: 8%;
    font-size: 23px;
  }
  body .mercoverlay {
    height: 500px;
    width: 100%;
    background-color: white;
    display: none;
    position: absolute;
    bottom: 0;
  }
  body .mercoverlay .control_prev {
    position: absolute;
    top: 210px;
    left: 5%;
    text-decoration: none;
    font-size: 60px;
    font-family: Roboto;
    color: black;
  }
  body .mercoverlay .control_next {
    position: absolute;
    top: 210px;
    right: 5%;
    text-decoration: none;
    font-size: 60px;
    font-family: Roboto;
    color: black;
  }
  body .mercoverlay .close {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    font-size: 25px;
    font-family: Roboto;
    color: black;
  }
  body .mercoverlay #slider {
    width: 335px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
  }
  body .mercoverlay #slider .slides {
    display: block;
    width: 3015px;
    height: 400px;
  }
  body .mercoverlay #slider .slide {
    float: left;
    list-style-type: none;
    width: 325px;
    height: 400px;
    margin: 0 5px;
  }
  body .mercoverlay #slider .slide img {
    width: 100%;
    height: auto;
  }
  body .mercoverlay #slider .slide p {
    font-family: Istok Web;
    text-align: center;
    margin-top: 10px;
    color: grey;
    text-decoration: none;
  }
  body .mercoverlay #slider .slide p:nth-of-type(2) {
    font-weight: bold;
    color: black;
  }
  body .mercoverlay #slider .left1 {
    margin-left: -335px;
  }
  body .mercoverlay #slider .left2 {
    margin-left: -670px;
  }
  body .mercoverlay #slider .left3 {
    margin-left: -1005px;
  }
  body .mercoverlay #slider .left4 {
    margin-left: 1340px;
  }
  body footer {
    height: 300px;
  }
  body footer .footertext {
    font-size: 25px;
    margin-top: 7%;
  }
  body footer .social {
    margin-right: 5%;
    margin-top: -8%;
  }
  body footer .social .fa-facebook {
    font-size: 50px;
    padding-left: 20px;
  }
  body footer .social .fa-linkedin {
    font-size: 50px;
  }
}
