//SASS dokumentet, hvor alt style skal være//

body {
  margin: 0;
  padding: 0;

/* Burger-menu starter her */
header {
//  position: absolute;
  clear: both;
  width: 100%;
  height: auto;
  background-color: #ECEEF2;
  text-decoration: none;
  display: block;
//  text-align: center;

div {
  //float: left;

  a {
    text-decoration: none;
    //margin: 20%;

      img {
        //height: 50px;
        margin-left: 5%;
        margin-top: 4%;
        margin-bottom: 0;
        float: left;
        width: 8.5%;
        text-decoration: none;
        }

        h3 {
        text-decoration: none;
        width: 130px;
        font-size: 15px;
        color: #293952;
        margin: auto;
        padding-top: 6%;
        padding-left: 7%;
        font-family: 'Quattrocento Sans', sans-serif;
        }
      }

    // .tekst{
    //   text-decoration: none;
    //   font-size: 28px;
    //   color: #293952;
    //   margin-left: 18%;
    //   margin-top: 20%;
    //   font-family: 'Quattrocento Sans', sans-serif solid;
    // }

    form {
      clear:both;
      width: 50%;
      //background-color: #185970;
      height: 40px;
      //margin-top: 6%;
      // margin-top: 6%;

        // h2{
        //   padding: 1%;
        //   margin-left: 5%;
        //   color: white;

        // }

        div {
          border: none;
          background-color: white;
          margin: -2% 20%;
          // margin-top: 12px;
          height: 25px;
          position: absolute;
          width: 60%;
          text-align: center;
          border-radius: 10px;


        input {
          width: 82%;
          height: 20px;
          border: none;
          //margin: 7.5px;
          font-size: 16px;
        }

        button {
          height: 100%;
          width: 8%;
          right: 0;
          margin: 0;
          padding: 0;
          background: #87aa44;
          border: none;
          cursor: pointer;
          float: right;

            .submit{
              width: 50%;
            }
        }
        }

    }

// div{
.navi{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  text-decoration: none;

/*hvordan ser indholdet ud i hamburgermenuen*/
    .overlayer{
      position: relative;
      top: 5%;
      // left: 5%;
      text-align: left;
      font-size: 10%;
      margin-top: 30px;
      text-decoration: none;

    /*hvordan linkene ser ud i overlay*/
         a{
          padding: 6px;
          left: 5%;
          text-decoration: none;
          font-size: 30px;
          color: #ffffff;
          display: block;
          transition: 0.3s;

        }
        .linje{
          border-top: 2px white solid;
          width: 100%;
          padding: 0;
          left: 0;
          margin: 2% 0;
        }
    /*giver farve nÃ¥r der holdes over indholdet*/
          :hover :focus{
            color: #f1f1f1;
          }
        }
    /*position af x/lukke knappen i menuen*/
    .closebut{
      position: absolute;
      // top: 10px;
      right: 5%;
      padding: 0;
      font-size: 60px;
      text-decoration: none;
      color: #87aa44;
    }
  }

span {
  display: block;
  font-size: 150%;
  color: #293952;
  cursor: pointer;
  float: right;
  margin: -6% 4% 0 0;
  }
  /*menuen slutter her*/
  }
}

/*fjerner navigations*/
nav {
  display: none;
}

button {
  display: none;
}

/* Overskrifterne med baggrundsfarve */
  h1 {
    clear: both;
    background-color: #293952;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 6%;
    margin-top: 0;
  }

/* Forside mobil-version */

/*Slideshow på forside */
  .mercoverlay {
    display: none;
  }

/* Div for billederne */
.flexbox, .flexbox2, .flexbox3, .flexbox4 {
  width: 90%;
  margin-left: 4.5%;

a {
  position: relative;
  display: inline-flex;

  /* Selve billederne */
    .p {
        width: 135px;
        height: 135px;
        margin: 18px 13px 20px 13px;
      }

    /* Skriften over billederne */
    h2 {
      background-color: rgba(255,255,255, 0.7);
      width: 60%;
      height: 29%;
      padding-top: 11%;
      padding-left: 8%;
      padding-right: 2%;
      margin: 33% 7% 0% 7%;
      font-size: 14px;
      font-family: 'Quattrocento Sans', sans-serif;
      position: absolute;
      text-decoration: none;
      color: #293952;
    }
  }
}

/* Selve footeren */
  footer {
    width: 100%;
    height: 200px;
    background-color: #293952;
    position: absolute;
    margin-top: 3%;

  /* Teksten i footeren */
    .footertext {
      margin-top: 16%;
    }

        ul {
          text-decoration: none;
          font-family: 'Quattrocento Sans', sans-serif;
          color: white;
          line-height: 3px;
          font-weight: bold;
        }

     /*De to logoer */
      .social {
        float: right;
        margin-right: 10%;
        margin-top: -20%;

        .fa-facebook {
          font-size: 35px;
          background: #3C5A99;
          color: white;
          padding: 5px 6px 1px 17px;
          border-radius: 5px;
        }

        .fa-linkedin {
          font-size: 35px;
          background: #007BB6;
          color: white;
          padding: 5px 6px 1px 7px;
          border-radius: 5px;
          margin-left: 3px;
      }
    }
  }
}

@media screen and (min-width: 766px){ /* Tablet-version */

body {

  /* Tekserne med farve */
  h1 {
    font-size: 28px;
  }

  /* Forside tablet-version */

  /* Div for billederne */
  .flexbox, .flexbox2, .flexbox3, .flexbox4 {
    width: 90%;
    margin-left: 6%;
    margin-right: 5%;
    margin-bottom: 5%;

  a {
    position: relative;
    display: inline-flex;

    /* Selve billederne */
      .p {
          width: 300px;
          height: 300px;
          margin: 25px 18px;
        }

      /* Skriften over billederne */
      h2 {
        background-color: rgba(255,255,255, 0.7);
        width: 60%;
        height: 27%;
        padding-top: 12%;
        padding-left: 8%;
        padding-right: 1%;
        margin: 31% 4.5%;
        font-size: 23px;
        font-family: 'Quattrocento Sans', sans-serif;
        position: absolute;
      }
    }
  }

   /* Selve footeren */
   footer {

      /*Teksten i footeren */
      .footertext {
       margin-top: 8%;
      }

      .social {
        margin-top: -10%;
      }
     }
    }
   }

@media screen and (min-width: 992px){ /* Desktop-version */

body {

  form{
    clear:both;
    width: 50%;
    height: 40px;


      div{
        border: none;
        background-color: white;
        margin: 0% 20%;
        // margin-top: 12px;
        height: 25px;
        position: absolute;
        width: 60%;
        text-align: center;

      input{
        width: 82%;
        height: 20px;
        border: none;
        //margin: 7.5px;
        font-size: 16px;
      }

      button{
        height: 100%;
        width: 8%;
        right: 0;
        margin: 0;
        padding: 0;
        background: #87aa44;
        border: none;
        cursor: pointer;
        float: right;

          .submit{
            width: 50%;
          }
      }
      }

  }

  /*Tekstenerne med farve */
  h1 {
    background-color: #ECEEF2;
    color: #293952;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    margin-bottom: 0;
  }

/* Forside desktop-version */

    /* Boksen med billederne */
    .flexbox {
      display: none;
    }

/* Selve slideshowet */
.mercoverlay {
  height: 290px;
  width: 100%;
  background-color: white;
  display: flex;
  bottom: 0;

      /* Pilen til venstre */
      .control_prev{
        margin-top: 8%;
        left: 5%;
        text-decoration: none;
        font-size: 60px;
        font-family: Roboto;
        color: black;
        z-index: 10;
      }

            /* Pilen til højre */
            .control_next{
              margin-top: 8%;
              right: 5%;
              text-decoration: none;
              font-size: 60px;
              font-family: Roboto;
              color: black;
              z-index: 10;
            }

                /* Selve slideshowet */
                #slider {
                  width: 1300px;
                  height: 400px;
                  overflow: hidden;
                  margin: auto;
                  margin-top: 4px;

                    /* Styring af billederne i slideshowet */
                    .slides {
                       display: block;
                       width: 5100px;
                       height: 300px;
                       padding: 0%;
                     }

          /* Billederne i slideshowet */
          .slide {
            float: left;
            list-style-type: none;
            width: 250px;
            height: 250px;
            margin: 0 5px;

/* Skriften over billederne */
h2 {
  background-color: rgba(255,255,255, 0.7);
  width: 10%;
  height: 10%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 1%;
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
  position: absolute;
  margin-top: -13%;
}

      /* Selve billederne */
      img {
        width: 100%;
        height: auto;
        position: relative;
      }
     }

          /*Mikkel forklar her */
          .left1 {
            margin-left: -265px;
          }

                .left2 {
                  margin-left: -530px;
                }

                  .left3{
                    margin-left: -795px;
                  }

            .left4 {
              margin-left: -1060px;
            }

        .left5 {
          margin-left: -1325px;
        }
      }
    }

/* Boksen med billederne nederst på desktop */
.flexbox2 {
  margin-left: 6%;
  margin-top: 3%;

  a {
    margin-left: 3%;

    /* Selve billederne */
    .p {
      width: 310px;
      height: 310px;
    }

    /*Teksten over billederne */
    h2 {
      margin-left: 4%;
    }
  }
}

/* Selvbetjening desktop */

/* Boksen med billederne nederst på desktop */
.flexbox3 {
  margin-left: 5%;
  margin-top: 3%;

  a {
    margin-left: 1%;

    /* Selve billederne */
    .p {
      width: 250px;
      height: 250px;
    }

    /*Teksten over billederne */
    h2 {
      margin-left: 4%;
    }
  }
}

/* Boksen med billederne nederst på desktop */
.flexbox4 {
  margin: 0;
  padding: 0;
  margin-left: 0%;
  margin-top: 1%;
  width: 100%;

  a {
    margin: 0;
    padding: 0;
    margin-left: 2%;

    /* Selve billederne */
    .p {
      width: 235px;
      height: 235px;
      margin: 0;
      padding: 0;
    }

    /*Teksten over billederne */
    h2 {
      margin-left: 0%;
      height: 70px;
    }
  }
}


  /* Selve footeren */
  footer {
    height: 300px;
    margin-top: 0.7%;

    /* Teksten i footeren */
    .footertext {
      font-size: 25px;
      margin-top: 7%;
    }

    /* Sociale medier logoer */
    .social {
      margin-right: 5%;
      margin-top: -8%;

    .fa-facebook {
      font-size: 50px;
      padding-left: 20px;
    }

    .fa-linkedin {
      font-size: 50px;
    }
   }
  }
 }
}
