//SASS dokumentet, hvor alt style skal være//

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

/* Burger-menu starter her */
header {
  clear: both;
  width: 100%;
  height: auto;
  background-image: url('../img/back.jpg');
  text-decoration: none;
  display: block;

div {
  width: 100%;

  a {
    text-decoration: none;
    color: #293952;

      /* Logoet */
      img {
        margin-left: 5%;
        margin-top: 4%;
        margin-bottom: 0;
        float: left;
        width: 8.5%;
        text-decoration: none;
        }

        /* Teksten i headeren */
        h3 {
        text-decoration: none;
        width: 35%;
        font-size: 15px;
        color: #293952;
        margin: auto;
        padding-top: 6%;
        padding-left: 5%;
        font-family: 'Quattrocento Sans', sans-serif;
        }
      }

      /* Logoet på desktop-version */
      .desktoplogo {
        display: none;
      }

    /* Søgefeltet */
    form {
      clear:both;
      width: 50%;
      height: 40px;

        /* Søgefeltet */
        .search {
          border: none;
          background-color: white;
          margin: -1% 20%;
          height: 25px;
          position: absolute;
          width: 60%;
          text-align: center;
          border-radius: 15px;

        /* Teksten i søgefeltet */
        input {
          width: 82%;
          height: 20px;
          border: none;
          font-size: 16px;
        }

        /* Ikonet inde i søgefeltet */
        button {
          height: 100%;
          margin-right: 23%;
          right: 0;
          margin: 0;
          padding: 0;
          border: none;
          background-color: #ECEEF2;
          width: 10%;
          float: right;

            /* Søge-knappen */
            .submit {
              width: 50%;
            }
           }
         }
       }

/* Er div som bestemmer hvordan selve menuen som kommer fram ser ud og hvor hurtigt den kommer frem,
dog skal width skrives i javascript koden */
.navi {
  height: 35%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ECEEF2;
  overflow-x: hidden;
  transition: 0.5s;
  text-decoration: none;

    /* Hvordan ser indholdet ud i hamburgermenuen */
    .overlayer{
      position: relative;
      top: 5%;
      text-align: left;
      font-size: 10%;
      margin-top: 30px;
      text-decoration: none;

         /* Hvordan linkene ser ud i overlay */
         a {
          padding: 8px;
          left: 5%;
          text-decoration: none;
          font-size: 22px;
          color: #293952;
          display: block;
          transition: 0.3s;
          border-bottom: 1px solid;
        }

          /* Giver farve når der holdes over indholdet */
          :hover :focus{
            color: #293952;
          }
        }

    /* Position af x/lukke knappen i menuen */
    .closebut {
      position: absolute;
      right: 3%;
      padding: 0;
      font-size: 60px;
      text-decoration: none;
      color: #293952;
    }
  }

span {
  display: block;
  font-size: 150%;
  color: #293952;
  cursor: pointer;
  float: right;
  margin: -6% 4% 0 0;
  }
 }
}
/* Menuen slutter her */


/* Fjerner navigationsmenu fra mobil-version */
nav {
  display: none;
}

.selvbeknap {
  display: none;
}

  /* Overskrifterne med baggrundsfarve */
  h1 {
    clear: both;
    background-color: #293952;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 6%;
    margin-top: 0;
  }

/* Forside mobil-version */

/*Slideshow på forside */
  .mercoverlay {
    display: none;
  }

  main {
    margin: auto;
  }

/* Div for billederne */
.flexbox, .flexbox2, .flexbox3, .flexbox4 {
  width: 93%;
  margin: auto;
  text-align: center;

a {
  position: relative;
  display: inline-flex;
  color: #293952;

    /* Selve billederne */
    .p, .pe {
        width: 135px;
        height: 135px;
        margin: 15px;
      }

    /* Skriften over billederne */
    h2 {
      background-color: rgba(255,255,255, 0.7);
      width: 60%;
      height: 29%;
      padding-top: 11%;
      padding-left: 8%;
      padding-right: 2%;
      margin: 33% 7% 0% 7%;
      font-size: 14px;
      font-family: 'Quattrocento Sans', sans-serif;
      position: absolute;
      text-decoration: none;
      color: #293952;
      text-align: left;
    }
  }
}

.flexbox3 {
  text-align: left;
 }

 .flexbox2 {
   text-align: left;
   margin-left: 6%;
   margin-top: 2%;
 }

.flexbox4 {
  text-align: left;
 }

 .instagram {
   clear: both;
   height: 715px;
   padding-left: 9.5%;
 }

/* Flytning og folkeregister mobil-version */

/* Det er hvordan selve knappen ser ud som man klikker på i det nederste lag */
.udvidknap {
    width: 100%;
    border: none;
    background-color: white;
    cursor: pointer;

    /* Dette er hvordan skriften i knappen ser ud */
    h2 {
      font-family: 'Palanquin Dark', sans-serif;
      font-size: 15px;
      padding-left: 6%;
      color: #293952;
      text-align: left;
    }
   }

    /* Dette er den div som kommer frem ved tryk på knappen på nederste lag */
    .smartknap {
      display: none;
      width: 100%;
      padding: 25px 0;
      text-align: left;
      background-color: #ECEEF2;
      margin-top: 20px;

      p {
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 14px;
      }
    }

/* Linjen under teksten */
hr {
  border-color: #293952;
}

  /* Selve footeren */
  footer {
    width: 100%;
    height: 200px;
    background-color: #293952;
    position: absolute;
    margin-top: 3%;

    /* Teksten i footeren */
    .footertext {
      margin-top: 14%;
      width: 55%;

          ul {
          text-decoration: none;
          list-style-type: none;
          font-family: 'Quattrocento Sans', sans-serif;
          color: white;
          line-height: 20px;
          font-weight: bold;
       }
      }

      /*De to logoer */
      .social {
        float: right;
        margin-right: 10%;
        margin-top: -23%;

        .fa-facebook-f {
          font-size: 35px;
          background: #3C5A99;
          color: white;
          padding: 5px 6px 1px 17px;
          border-radius: 5px;
        }

        .fa-linkedin-in {
          font-size: 35px;
          background: #007BB6;
          color: white;
          padding: 5px 6px 1px 7px;
          border-radius: 5px;
          margin-left: 3px;
      }
    }
  }
}

@media screen and (min-width: 766px){ /* Tablet-version */

body {

  /* Tekserne med farve */
  h1 {
    font-size: 28px;
  }

  /* Forside tablet-version */

  header {
    height: 150px;

  div {

    a {

      img {
        width: 45px;
        height: auto;
      }

          h3 {
          font-size: 18px;
          padding-top: 4.5%;
          padding-left: 150px;
        }
      }

        .navi {
          height: 35%;

          .overlayer {

            a {
              font-size: 35px;
            }
          }

          .closebut {
            right: 5%;
          }
        }

        form {
          margin-top: -8%;
          clear: none;

          .search {
            margin-top: 12%;
          }
         }

        span {
          font-size: 200%;
          margin-top: -4%;
        }
      }
    }

  /* Div for billederne */
  .flexbox, .flexbox3, .flexbox4 {
    width: 720px;
    margin-bottom: 5%;
    text-align: left;

  a {
    position: relative;
    display: inline-flex;

    /* Selve billederne */
      .p {
          width: 200px;
          height: 200px;
          margin: 25px 18px;
        }

      /* Skriften over billederne */
      h2 {
        background-color: rgba(255,255,255, 0.7);
        width: 60%;
        height: 27%;
        padding-top: 12%;
        padding-left: 8%;
        padding-right: 1%;
        margin: 31% 4.5%;
        font-size: 20px;
        font-family: 'Quattrocento Sans', sans-serif;
        position: absolute;
        color: #293952;
      }
    }
  }

  .flexbox2{
    text-align: center;
    margin-left: 1%;

    a {
      position: relative;
      display: inline-flex;

      /* Selve billederne */
        .p {
            width: 200px;
            height: 200px;
            margin: 25px 18px;
          }

          /* Skriften over billederne */
          h2 {
            background-color: rgba(255,255,255, 0.7);
            width: 60%;
            height: 27%;
            padding-top: 12%;
            padding-left: 8%;
            padding-right: 1%;
            margin: 31% 4.5%;
            font-size: 20px;
            font-family: 'Quattrocento Sans', sans-serif;
            position: absolute;
            color: #293952;
          }
        }
      }
  /* Flytning og folkeregister ipad-version */

  .fa-plus-circle {
    font-size: 23px;
    float: right;
    margin-right: 8%;
  }

  p {
    font-size: 16px;
    margin: 3% 10% 5% 6%;
  }

  .instagram {
    clear: both;
    height: 350px;
    padding-left: 9%;
  }

   /* Selve footeren */
   footer {

      /*Teksten i footeren */
      .footertext {
       margin-top: 6.5%;
      }

      .social {
        margin-top: -11%;
        margin-left: 2%;
      }
     }
    }
   }

@media screen and (min-width: 992px){ /* Desktop-version */

body {

  /* Teksterne med farve */
  h1 {
    background-color: #ECEEF2;
    color: #293952;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    margin-bottom: 5px;
    padding-left: 0;
    margin-left: 0;
  }

  header {
    height: auto;

    div {

      // Fjener logo til mobil og ipad
      .logo {
        display: none;
      }

      // Fjerne teksten over søge felt i mobil og ipad
      .tekst {
        display: none;
      }

      // Viser det andet logo til desktop
      .desktoplogo {
        display: block;
      }

    /* Fjerner burger-menuen */
    span {
      display: none;
    }

    a {
      text-decoration: none;

        img {
          margin-left: 4%;
          margin-top: 1%;
          margin-bottom: 2%;
          float: left;
          width: 12%;
          text-decoration: none;
        }
       }

       // Søge feltet og søgknap
        form {
          clear: right;
          width: 80%;
          height: 40px;
          display: inline-block;
          margin-top: 6%;

            .search {
              border: none;
              background-color: white;
              margin: 0.5% 5% 0 12%;
              height: 31px;
              position: initial;
              width: 67%;
              text-align: center;
              float:left;

            input {
              width: 88%;
              height: 22px;
              border: none;
              margin: 4px;
              font-size: 16px;
            }

            button {
              height: 100%;
              right: 0;
              margin: 0;
              padding: 0;
              border: none;
              cursor: pointer;
              float: right;
              background-color: #ECEEF2;
              width: 39px;
              color: black;

                .submit {
                  width: 50%;
                }
              }
            }

            .selvbeknap {
              display: inline-block;
              background-color: #293952;
              border: none;
              color: #ECEEF2;
              padding: 12px 15px;
              float: left;
              margin-left: 1%;
              margin-top: 0%;
              font-size: 15px;
              border-radius: 15px;
              font-family: 'Quattrocento Sans', sans-serif;
            }
           }
          }

      /* Navigationen på siden */
      nav {
        display: block;
        text-decoration: none;
        clear: both;
        background-color: #293952;
        height: 56px;
        width: 100%;

        li {
          float: right;
          list-style: none;
          margin: 18px 2%;
          font-size: 18px;
          background-color: #293952;
          font-family: 'Quattrocento Sans', sans-serif;

          a {
            text-decoration: none;
            color: #ECEEF2;
            font-style: bold;
          }

            .active {
              text-decoration: none;
              background: #ECEEF2;
              color: #293952;
              padding: 19px 30%;
              font-weight: bold;
             }
            }
           }

      button {
        display: block;
        background-color: #293952;
        border: none;
        color: #ECEEF2;
        padding: 8px;
      }
    }

/* Forside desktop-version */

    /* Boksen med billederne */
    .flexbox {
      display: none;
    }

/* Selve slideshowet */
.mercoverlay {
  height: 290px;
  width: 100%;
  background-color: white;
  display: inline-flex;
  bottom: 0;
  overflow-wrap: break-word;

      /* Pilen til venstre */
      .control_prev{
        margin-top: 110px;
        text-decoration: none;
        font-size: 60px;
        font-family: Roboto;
        color: black;
        z-index: 10;
        margin-left: 1%;
      }

            /* Pilen til højre */
            .control_next{
              margin-top: 110px;
              text-decoration: none;
              font-size: 60px;
              font-family: Roboto;
              color: black;
              z-index: 10;
              margin-left: 95%;
            }

                /* Selve slideshowet */
                #slider {
                  width: 95%;
                  height: 275px;
                  overflow: hidden;
                  margin: auto;
                  margin-top: 4px;
                  position: absolute;
                  clip: rect(10px, 1000px);
                  margin: 0% 2.5%;

                    /* Styring af billederne i slideshowet */
                    .slides {
                       display: block;
                       width: 5100px;
                       max-height: 300px;
                       padding: 0%;
                      }

          /* Billederne i slideshowet */
          .slide {
            float: left;
            list-style-type: none;
            width: 250px;
            height: 250px;
            margin: 0 5px;

/* Skriften over billederne */
h2 {
  background-color: rgba(255,255,255, 0.7);
  width: 135px;
  height: 70px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
  position: absolute;
  margin-top: -178px;
  color: #293952;
  }

      /* Selve billederne */
      img {
        width: 100%;
        height: auto;
        position: relative;
      }
     }

          /* Billederne til venstre i slideshowet */
          .left1 {
            margin-left: -265px;
          }

                .left2 {
                  margin-left: -530px;
                }

                  .left3{
                    margin-left: -795px;
                  }

            .left4 {
              margin-left: -1060px;
            }

        .left5 {
          margin-left: -1325px;
        }
      }
    }

    .instagram {
      clear: both;
      height: 430px;
      padding-left: 14%;
    }

/* Boksen med billederne nederst på desktop */
.flexbox2 {
  margin: auto;
  margin-top: 3%;
  text-align: center;
  width: 73%;

  a {

    /* Selve billederne */
    .p {
      width: 310px;
      height: 310px;
    }

    /*Teksten over billederne */
    h2 {
      margin-left: 4%;
    }
  }
}

/* Selvbetjening desktop */

/* Boksen med billederne øverst på desktop */
.flexbox3 {
  margin: auto;
  width: 922px;
  text-align: left;

  a {
    margin: 1%;

    /* Selve billederne */
    .p {
      width: 250px;
      height: 250px;
    }

    /* Teksten over billederne */
    h2 {
      margin-left: 4%;
    }
  }
}

/* Boksen med billederne nederst på desktop */
.flexbox4 {
  padding: 0;
  width: 1200px;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 0;

  a {
    margin: 0;
    padding: 0;
    margin: 1%;

    /* Selve billederne */
    .p {
      width: 230px;
      height: 230px;
      margin: 0;
      padding: 0;
    }

    /*Teksten over billederne */
    h2 {
      margin-left: 0%;
      height: 70px;
    }
  }
}

/* Flytning og folkeregister desktop-version */

.udvidknap {
  height: 100px;

h2 {
  font-size: 22px;
  padding-left: 6%;
}

.fa-plus-circle {
  font-size: 27px;
  float: right;
  margin-right: 8%;
}

p {
  font-size: 18px;
  margin: 3% 10% 5% 6%;
 }
}


  /* Selve footeren */
  footer {
    height: 270px;
    margin-top: 0.7%;

    /* Teksten i footeren */
    .footertext {
      font-size: 25px;
      margin-top: 5.8%;

      ul {
        line-height: 27px;
        margin-left: 3%;
      }
    }

    /* Sociale medier logoer */
    .social {
      margin-right: 5%;
      margin-top: -9%;

    .fa-facebook-f {
      font-size: 50px;
      padding-left: 20px;
    }

    .fa-linkedin-in {
      font-size: 50px;
    }
   }
  }
 }
}

@media screen and(min-width: 1100px){

      body {

      .mercoverlay {

        .control_prev {
        }

              .control_next{
              }
             }

      .flexbox2 {
        width: 1050px;
      }

      .flexbox3 {
        margin: auto;
        width: 1258px;
        text-align: left;

        a {
          margin: 1%;

          .p {
            width: 250px;
            height: 250px;
          }
         }
        }

  .flexbox4 {
    padding: 0;
    width: 1230px;
    text-align: left;

    a {
      margin: 0.5%;
    }
  }
 }
}

@media screen and(min-width: 1350px){

      body {

      .mercoverlay {

        .slider{
          // max-width: 1370px;
        }

        .control_prev {
        }

              .control_next {
                 margin-left: 96%;
              }
             }
         // .instagram {
         //   clear: both;
         //   height: 450px;
         //   padding-left: 23%;
         //     }
            }
           }

@media screen and(min-width: 1610px){

      body {

      .mercoverlay {

        .control_prev {
          margin-left: 0.5%;
        }

              .control_next {
                 margin-left: 97%;
              }
             }

       // .instagram {
       //  clear: both;
       //  height: 450px;
       //  padding-left: 25%;
       //       }
            }
           }

// Dette media screen styre at siden ikke bliver større end 1920px i bredden
@media screen and(min-width: 1920px){

    body {
      max-width: 1920px;
      margin: auto;

    .mercoverlay {

// Maks størrelse på slideshowets bredde
      #slider {
        width: 1820px;
      }
    }

    footer {
      max-width: 1920px;
    }
    .instagram {
     clear: both;
     height: 450px;
     padding-left: 465px;
   }
 }
}
